.query-detail {
  .content {
    padding: 15px 25px 10px 25px;
    .breadcrumb {
      color: 	#A3A3A3;
      height: 20px;
      line-height: 20px;
      font-size: 17px;
      margin: 10px 0 10px 0;
      div {
        float: left;
      }
      .el-breadcrumb {
        font-size: 17px;
        line-height: 20px;
        .el-breadcrumb__inner {
          color: 	#A3A3A3;
        }
        .el-breadcrumb__inner:hover {
          color: #409EFF;
        }
      }
    }
    p {
      font-size: 16px;
      color: #606266;
      line-height: 40px;
      margin: 10px 5px;
    }
    .el-row {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .grid-content {
      border-bottom: 2px solid #fff;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      text-align: center;
      min-height: 36px;
      line-height: 36px;
      color: #606266;
    }
    .border {
      border-top: 2px solid #fff;
    }
  }
}
