.home {
  .content {
    padding: 10px 10px 0 10px;
    .el-tabs__content {
      background: #f0f7fc;
    }
    .el-tabs__item {
      font-size: 16px;
    }
    .el-table {
      font-size: 15px;
    }
    .el-pagination {
      padding: 15px 0 0 0;
    }
  }
}
