.docx-notice {
  .content {
    padding: 15px 25px 10px 25px;
    .breadcrumb {
      color: 	#A3A3A3;
      height: 20px;
      line-height: 20px;
      font-size: 17px;
      margin: 10px 0 10px 0;
      div {
        float: left;
      }
      .el-breadcrumb {
        font-size: 17px;
        line-height: 20px;
        .el-breadcrumb__inner {
          color: 	#A3A3A3;
        }
        .el-breadcrumb__inner:hover {
          color: #409EFF;
        }
      }
    }
  }
}
